:root {
    --yellow: #f4d04e;
    --gray-950: #111111;
    --gray-500: #6b6b6b;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--yellow);
}

.figtree-extrabold {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.figtree-medium {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.text-preset-1 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0;
}

.text-preset-2 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0;
}

.text-preset-3 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card img {
    display: block;
    border-radius: 10px;
    margin-bottom: 24px;
}

.card {
    width: 384px;
    height: 522px;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid var(--gray-950);
    background-color: white;
    box-shadow: 8px 8px 0 0 black;
    transition: box-shadow 0.2s ease-in-out;
}

.card .tag {
    background-color: var(--yellow);
    padding: 4px 12px;
    border-radius: 4px;
    width: max-content;
    font-size: 14px;
    margin-bottom: 12px;
}

.card .content {
    margin-bottom: 24px;
}

.card h3 {
    font-size: 14px;
}

.card h1 {
    font-size: 24px;
    margin: 12px 0;
    transition: color 0.2s ease-in-out;
}

.card:hover h1 {
    color: var(--yellow);
}

.card:hover {
    cursor: pointer;
    box-shadow: 16px 16px 0 0 black;
}

.card p {
    margin: 12px 0;
    font-size: 16px;
    color: var(--gray-500);
}

.card .author {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 129px;
    height: 32px;
}

.card .author p {
    font-size: 14px;
    color: var(--gray-950);
    margin: 0;
}

.card .author img {
    width: 32px;
    margin: 0;
    display: block;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }

  .card:hover {
    cursor: pointer;
    box-shadow: 8px 8px 0 0 black;
  }
}